{% extends "base.html" %}

{% block content %}
<div class="card">
    <h3>Our Active Projects</h3>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td><a class="btn" href="{{ url_for('main.donate') }}">Support this Cause</a></td>
            </tr>
            {% endfor %}
            {% if not projects %}
            <tr>
                <td colspan="3">No active projects available currently.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
